{% extends "base.html" %}

{% block content %}
<div id="logged-out" style="display: none">
    <h3>Sign in to access this application</h3>
    <div id="firebaseui-auth-container"></div>
</div>
    
<div id="logged-in" style="display: none" class="container">
    <h2>Record and upload an observation</h2>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <form>
                <fieldset>
                    <legend>Observation</legend>
                    <textarea id="note-content" class="doc" style="width:100%;" placeholder="Type observation here"></textarea>
                    <input type="file" id="file_upload" name="file_upload" accept="image/*" capture="camera" class="inputfile" data-multiple-caption="{count} files selected" multiple>
                    <label for="file_upload"><span>Upload image</span></label>
                    <button type="submit" id="addnote" class="primary">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Notes</h2>    
    </div>
    <div id="app1" class="row">    
        <div class="col-md-6 col-sm-12" v-for="(detail,index) in details">
            <div class="card fluid" >
                <div class="section">
                        <h3>{{detail}} <small>{{getMessageTimeStamp(index)}}</small></h3>
                        <div class="posTopRight">
                            <span class="w3-hover-red w3-padding" @click="updateIndex(index)" >edit</span>
                            <span class="w3-hover-red w3-padding" @click="deleteIndex(index)" >X</span>
                        </div>
                </div>
                <div class="section media">
                    <img src="" :id="idObject(index)" alt="Image from cloud storage">
                </div>
            </div>
        </div>
    </div>
        
</div>
<hr>
{% endblock %}
